:root {
  --primary-color: #ff00ee;
  --secondary-color: #83ff40;
  --accent-color: #3f51b5;
  --background-color: #e1bee7;
  --text-color: #000000;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
